body{
    margin: 0;
    font-family: sans-serif;
    overflow-X: hidden;
    background: rgb(241, 241, 241);
}

header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 3rem;
    font-size: 13px;
    letter-spacing: 2px;
    box-shadow: 0rem 0.1875rem 0.4375rem;
    background-color: lightseagreen;
}

.header-title{
    color: #000000;
}

.icon-flecha,
.icon-flecha2{
    color: #7d7fff;
}

.cont-biografia,
.biografia,
.carrera-musical,
.trabajos-discograficos
.efdp,
.emb,
.pme,
.lyke-mike,
.sweetysour,
.icyhot,
.lveu,
.vltnlm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5px;
}

.titulo{
    width: 70vw;
    /* width: 28.125rem; */
    /* height: 40px; */
    margin-top: 9rem;
    margin-bottom: 4.375rem;
    font-size: 1.875rem;
    text-align: center;
    border-bottom: 0.125rem solid orangered;
}

.cont-img-myke{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: scroll;
    margin-bottom: 15vh;
}
.cont-img-myke::-webkit-scrollbar{
    width: 1px;
    background: none;
}
.img-myke{
    display: block;
    width: 90%;
    margin-left: 1%;
    border-radius: 0.5125rem;
    /* outline-offset: 0.625rem; */
    /* outline: 0.094rem solid rgb(0, 0, 0); */
}

.see-img{
    /* position: absolute;
    top: 870px; */
    width: auto;
    height: auto;
    margin-top: -123px;
    padding: 6px;
    border-radius: 10px;
    background: #00000033;
}

.titulo-biografia,
.titulo-carrera-musical{
    width: 100vw;   
    height: 2.1875rem;
    text-align: center;
    border-bottom: 0.1875rem solid bisque;
}
.title-efdp,
.title-emb,
.title-pme,
.title-lm,
.title-sys,
.title-icy-hot,
.title-lveu,
.title-vltnlm{
    width: 70%;
    font-weight: bolder;
    border-bottom: 0.125rem solid orangered;
}

.p-cont,
li{
    width: 90%;
    line-height: 1.5625rem;
    font-size: 1rem;
}

.cont-info-personal{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    height: auto;
    margin-left: 40px;
    margin-bottom: 50px;
}

.cont-title-info-personal{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1.875rem;
    margin-top: 5px;
    margin-bottom: 40px;
}
.titulo-info-personal{
    width: 90%;
    height: 1.4375rem;
    margin-top: 1px;
    font-weight: bolder;
    text-align: center;
    line-height: 1.4375rem;
    border-bottom: 0.125rem solid rgba(255, 68, 0, 0.596);
}

.tabla-info-personal{
    width: 97%;
    height: auto;
    border-collapse: collapse;
    font-size: 0.9375rem;
}

td, th{
    padding-bottom: 20px;
    border: 1px solid rgba(2, 0, 148, 0.815);
    border-right: 0.0625rem solid transparent;
    border-left: 0.0625rem solid transparent;
    text-align: center;
}

.curiosidades{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin-bottom: 3.125rem;
    padding-top: 2rem;
}
.title-curiosidades{
    width: 100vw;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-top: 0.125rem;
    margin-bottom: 3.125rem;
    border-bottom: 0.1875rem solid orangered;
    text-align: center;
}

.lista{
    width: 70%;
    height: 100%;
    border-left: 0.125rem solid rgba(255, 68, 0, 0.473);
}

.footer{
    width: 100vw;
    height: 23rem;
    color: rgb(214, 214, 214);
    text-align: center;
    background: black;
    font-family: 'Ubuntu', sans-serif;
}
.info-footer{
    font-size: 0.813rem;
    padding-top: 3rem;
}

a{
    margin: 5px;
    text-decoration: none;
    color: white;
}