@media (min-width: 900px){
    header{
        background: rgb(20, 0, 136);
    }
    .cont-img-myke{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow: scroll;
    }
    .img-myke{
        width: 50%;
        height: 500px;
    }
    .cont-img-myke::-webkit-scrollbar{
        width: 1px;
        height: 10px;
    }
    .cont-img-myke::-webkit-scrollbar-thumb{
        border-radius: 30px;
        background: orangered;
        box-shadow: 0 5px 10px black;
    }
}
                                        /*  9 0 0 PX   */
@media (max-width: 900px){
    .cont-carrera-musical-info-personal{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* flex-wrap: nowrap; */
    }

    .carrera-musical{
        max-width: 95%;
    }

    .cont-info-personal{
        width: 50%;
    }

    .p-cont,
    li{
        font-size: 0.875rem;
    }
}
                                        /*  8 0 0 PX */
@media (max-width: 800px){
    .titulo{
        font-size: 1.675rem;
    }
}
                                        /*  5 0 0 PX */
@media (max-width: 500px){

    .logo{
        width: 4.25rem;
    }

    .cont-info-personal{
        width: 70%;
    }

    .p-cont,
    li{
        font-size: 0.75rem;
    }
}
                                      /*  4 0 0 PX  */
@media (max-width: 400px){
    .titulo{
        width: 80vw;
    }

    .redes-sociales{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        height: 50%;
        margin-right: 1.25rem;
        font-size: 0.625rem;
    }

    .rs,
    .icon-flecha{
        display: none;
        color: transparent;
    }
    
    .icon{
        margin-right: 1rem;
        font-size: 0.875rem;
    }
}